<!DOCTYPE HTML>
<html>

    <head>
        <title>{% block title %}Welcome!{% endblock %}</title>        
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine&amp;v1" />
            <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" />
            {% stylesheets 
                'css/src/style.css'
                output='css/compiled/all_style.css'
            %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
                
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

        {% block head_javascripts %}
            {% javascripts
                'bundles/sonatajquery/jquery-1.8.0.js'
                'js/tools/jquery.tools.overlay.min.js'
                'js/modal.js'
                output='js/compiled/jquerylib.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script type="text/javascript">
                jQuery.noConflict();
            </script>
        {% endblock %}
    </head>
    <body>
        <div id="main">
            <div id="header">
            <div id="logo">
                <h1>simplestyle<a href="#">_7</a></h1>
                <div class="slogan">{% block slogan %}Cool slogan goes here!{% endblock %}</div>
            </div>
            <div id="menubar">
                {% set menu=knp_menu_get('FcSiteBundle:MenuBuilder:mainMenu') %}
                <ul id="menu">
                {% for item in menu %}
                <li class="{{ item.isCurrent or item.isCurrentAncestor ? 'current ' : ''}}{{ item.isLast ? 'last ' : ''}}{{ item.isFirst ? 'first' : ''}}">
                    <a href="{{ item.uri }}" title="Vai a pagina {{item.label}}" >{{item.label}}</a>
                </li>
                {% endfor %}
                </ul>
                {#{ knp_menu_render('FcSiteBundle:MenuBuilder:mainMenu') }#}
            </div>
            </div>
            
            <div id="user-feedback">
                {% if app.user %}
                    Hello {{ app.user.username }}
                {% else %}
                    Hello anonymous
                {% endif %}
            </div>
            
            <div id="site_content">
            {% block layout %}
            <div id="content">
                <h1>{% block blog_title %}{% endblock %}</h1>
                {% block body %}{% endblock %}
                {% block comments %}{% endblock %}
            </div>
            {% endblock %}
            </div>
            <div id="footer">
            <p>Copyright &copy; simplestyle_7 | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a></p>
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
