{% extends '::layout2col.html.twig' %}

{% block blog_title %}Definisci la tua squadra per la lega {{league.name}}{% endblock %}

{% block body %}

<form action="{{ path('fc_site_team_save', { 'id': team.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Salva</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('fc_site_league_panel', {id: league.id}) }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}