{% extends '::layout2col.html.twig' %}

{% block blog_title %}Pannello Lega {{league.name}} - Creazione Competizione{% endblock %}

{% block body %}

<h1>Crea competizione - Passo 2</h1>

<p>Hai scelto di creare una competizione di tipo <strong>{{ builder.label }}</strong></p>

{# {{ description }} #}
{% include description_tmpl with {builder: builder} %}

<h2>Compila i parametri richiesti</h2>

<form action="{{ path('fc_site_competition_wizard3', {id: league.id}) }}" method="post" >
        {{ form_widget(form) }}
        <input type="text" name="type" value="{{ builder.name }}" />
        <input type="submit" value="Prosegui" />
</form>

{% endblock %}
