{% extends '::layout2col.html.twig' %}

{% block blog_title %}Pannello Lega {{league.name}} - Creazione Competizione{% endblock %}

{% block body %}

    <h1>Crea competizione - {{ step.name }}</h1>


    <form action="{{ path('fc_site_competition_wizard', {'id': league.id, 'step': step.name})}}" method="post" {{ form_enctype(form) }}>

        {{ form_widget(form) }}
        
        <input type="submit" value="Prosegui" />
        
    </form>
    
    {% if (prevStep) %}
    <a href="{{ path('fc_site_competition_wizard', {'id': league.id, 'step': prevStep.name}) }}" >Prev step</a>
    {% endif %}
    {% if (isNextStepVisible) %}
    <a href="{{ path('fc_site_competition_wizard', {'id': league.id, 'step': nextStep.name}) }}" >Next step</a>
    {% endif %}

{% endblock %}

