{% extends '::layout2col.html.twig' %}

{% block title %}Pannello Lega {{league.name}}{% endblock %}

{% block body %}

<h1>Lega {{ league.name }}</h1>

<div id="league_subscriptions" class="site_central">
    <h2>Squadre iscritte</h2>
    {% if teams %}
    <ul>
    {% for team in teams %}
        <li>
            {{ team.user.name}}
            {% if league.owner.id == team.user.id %}
                <strong>(Amministratore)</strong>
            {% elseif team.enabled == false %}
                <form action="{{ path('fc_site_league_enablesubscription') }}" method="post">
                    <input type="hidden" name="team_id" value="{{team.id}}" />
                    <input type="submit" value="Approva" />
                </form>
            {% elseif team.enabled == true %}
                <form action="{{ path('fc_site_league_disablesubscription') }}" method="post">
                    <input type="hidden" name="team_id" value="{{team.id}}" />
                    <input type="submit" value="Disabilita" />
                </form>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% else %}
    <p>Nessun utente iscritto..</p>
    {% endif %}
</div>

<div id="league_competitions" class="site_central">
    <h2>Competizioni</h2>
    {% if competitions %}
    <ul>
    {% for competition in competitions %}
        <li>
            <strong>{{ competition.name}}</strong>
            <span>{{ competition.type }}</span>
        </li>
    {% endfor %}
    </ul>
    {% else %}
    <p>Nessuna competizione creata..</p>
    {% endif %}
    <a href="{{ path('fc_site_competition_wizard', {id: league.id, step: 'step1'}) }}">Crea una competizione</a>
</div>

<div id="league_team" class="site_central">
    <h2>La tua squadra</h2>
    {% if userTeam %}
    <strong>{{ userTeam.name }}</strong>
    {% else %}
    <p>Nessuna squadra creata..</p>
    <a href="{{ path('fc_site_team_new', {league_id:league.id, user_id: app.user.id}) }}">Crea una squadra</a>
    {% endif %}
</div>


{% endblock%}