{# empty Twig template #}

{% extends 'FcAdminBundle::generic_subpage.html.twig' %}

{% block content %}

<h2>Seleziona un file dei giocatori da importare nel campionato "{{ champ }}"</h2>

{% if (msg) %}
<p>{{ msg }}</p>
{% endif %}

<form action="{{ admin.generateUrl('import_players', {'id': id}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
{% endblock %}