{# empty Twig template #}

{% extends 'FcAdminBundle::generic_subpage.html.twig' %}

{% block content %}

<h2>Creazione giornate campionato "{{ champ }}"</h2>

{% if (msg) %}
<p>{{ msg }}</p>
{% endif %}

<form action="{{ admin.generateUrl('init_calendar', {'id': id}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
{% endblock %}